# Mercedes-Benz npm-registry setup:
# 1. Login to artifactory  https://artifacts.i.mercedes-benz.com 
# 2. Go to profile, create and copy API key
# 3. Run 'npm run artifactory:login'
#     - Username is CD/AD user
#     - Password is the API key from above

# We do not use Switch!

# @daimler packages are provided through Daimler Artifactory
@plusng:registry=https://artifacts.i.mercedes-benz.com/artifactory/api/npm/plusng-main-npm-local/
registry=https://artifacts.i.mercedes-benz.com/artifactory/api/npm/plusng-npm-virtual/

# If you get the following error during 'npm install' please ask a TTF memeber to give you read permissions on https://artifacts.i.mercedes-benz.com/ui/admin/management/permissions/edit/plusng-repos-permission 
# npm ERR! code E404
# npm ERR! 404 Not Found - GET https://artifacts.i.mercedes-benz.com/artifactory/api/npm/plusng-main-npm-local/@plusng/react-common-components/-/@plusng/react-common-components-1.0.20.tgz
# npm ERR! 404
# npm ERR! 404  '@plusng/react-common-components@https://artifacts.i.mercedes-benz.com/artifactory/api/npm/plusng-main-npm-local/@plusng/react-common-components/-/@plusng/react-common-components-1.0.20.tgz' is not in this registry.
# npm ERR! 404
# npm ERR! 404 Note that you can also install from a
# npm ERR! 404 tarball, folder, http url, or git url.
#
# After you got the correct permissions and you can see upper regitries in the https://artifacts.i.mercedes-benz.com web ui and still can't login
# delete the entries of upper registries in the .npmrc file located in your profile.
